*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f4f4f4;
}

.nav{
        background-color: #4CAF50;
        color: white;
        box-shadow: 0 4px 10px 0 rgba(0,0,0,0.4);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px;
        
    }

    .nav a{
        text-decoration: none;
        align-items: center;
        background-color: #fff;
        border-radius: 6px;
        width: 80px;
        text-align: center;
        padding: 10px;
        cursor: pointer;
        box-shadow: 0 4px 10px 0 rgba(0,0,0,0.4);
    }

    .nav a:hover{
         text-decoration: none;
        background-color: #45a049;
        color: #fff;
    }

    .nav-buttons{
        display: flex;
        gap: 10px;
        margin-right: 60px;
    }

.container{
    margin: 100px auto;
    padding: 30px;
    width: 800px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.4);
}

h2{
    color: #4CAF50;
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"]
{
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

button{
    width: 100%;
    background-color: #4CAF50;
    padding:12px;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    font-size: 16px;
}

button:hover{
    background-color: #45a049;
}

p{
    text-align: center;
    margin-top: 10px;
}

a{
    text-decoration: none;
    color: #4CAF50;
}

a:hover{
    text-decoration: underline;
}